
form{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: auto;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: bold;
}

fieldset label{
    font-weight: initial;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 5px;
    width: calc(100% - 1em);
}

select{
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: #555555;
    border: none;
    border-radius: 5px;
    transition: 1s all; /* cambia tiempo transicion */
    cursor: pointer; /* cambia cursor */
    align-content: center;
}

.enviar:hover{
    background: #888888;
    transform: scale(1.2); /* agranda */

}

table{
    margin: 40px auto;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}



@media screen and (min-width:768px){
    
    form{
        padding: 5% 25%;
    }

}

@media screen and (min-width:1024px){      
    
    form{
        padding: 4% 25%;
    }

    form label, form legend{
        font-size: 30px;
        margin: 0 0 20px;
    }

    .input-padron{
        margin: 0 0 30px;
        padding: 10px;
    }
    
    select{
        font-size: 25px;

    }

    .horario{
        margin-top: 20px;
    }

    .checkbox{
        margin: 40px 0;
    }

        
    .enviar{
        width: 60%;
        font-size: 25px;
    }

    table{
        margin: 20px auto 60px;        
        }

    td, th{
        font-size: 26px;
        }
 
}



