@import 'reset.css';

*{
    box-sizing: border-box
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header{   
    position: sticky;
    top: 0; /*Para que funcione sticky*/ 
}

.estructura-header{
    width: auto;     /* 940px PARA PC */
    height: 100px;
    position: relative;  /* Relativa a la posición absoluta*/
    display: flex;
    align-items: center; /*align = vertical, justify = horizontal TODO: para pc*/
    justify-content: space-between;
    z-index: 999;
    background-color: #BBBBBB;
    padding: 0 20px;
}

.logo-header img{
    height: 80px;   /* Redefiní la altura de la imágen de logo */
    transition: all 200ms;
}

.logo-header:hover img{
    filter: drop-shadow(1px 1px 8px #757575);
}

.menu-icon{
    font-size: 30px;
    cursor: pointer;
}

.nav-header{
    width: 100%;
    position: absolute;
    z-index: 998; 
    transition: all .5s;
    background: linear-gradient(#BBBBBB, #888888);
    height: calc(100vh - 64px);
    border-radius: 0 0 15px 15px;
    padding: 10px 0;
}

.hidden{
    transform: translateY(-100%);
    visibility: hidden;
}

.nav-header li{
    width: 100%;
    margin-top: 60px;    
    display: flex;
    justify-content: center;
}

.nav-header a{
    text-transform: uppercase; /* Convierte texto en mayúsculas */
    color: black;
    font-weight: bold; /* Texto negrita */
    font-size: 22px; /* Tamaño de la letra */
    text-decoration: none; /* Saco subrayado */
    transition: all 200ms;
}

.nav-header a:hover{  /* hover captura el movimiento del mouse */
    color: #333333;
    text-shadow: 2px 2px 2px gray;
} 


/*FOOTER*/

footer{
    text-align: center;
    background: url(./backgound-img/bg.jpg);
    padding: 40px;
    margin: 0 auto;
}


footer img{
    height: 150px;   /* Redefiní la altura de la imágen de logo */
    margin: inherit; /*hereda el valor del elemento padre (footer)*/
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}


@media screen and (min-width:768px){
    
    header{   
        position: relative;
        display: flex;   /*el elemento padre debe tener displayflex*/
        justify-content: space-between;
        align-items: center;
        background-color: #BBBBBB;
    }
    
    .estructura-header{
        flex-grow: 2;  /*hijo de header*/
        z-index: 998;
        justify-content: left;
    }

    .menu-icon{
        visibility: hidden;
        display: none;
    }
    
    .nav-header{
        flex-grow: 1;   /*hijo de header*/
        display: flex; /*padre de las listas*/
        width: auto;
        background: transparent;
        z-index: 999; 
        transition: all 0s;
        border-radius: 0;
        height: auto;
        position: relative;
    }


    .hidden{
        visibility: visible;
        transform: initial;
    }
    
    .nav-header li{
        display: inline;
        margin: 0;
        flex-grow: 1; /*hijo de nav-header*/
        width: auto;
    }
    
    .nav-header a{
        font-size: 22px; /* Tamaño de la letra */
    }      
        
}

@media screen and (min-width:1024px) {
    .nav-header a{
        font-size: 28px;
    }
}
