:root {
    --main-color: #FEFEFE;
    --secondary-color: #888888;
  }

.banner img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}


/*  elemento > hijo
img + p // seleccioname el primer párrafo después de la imágen
img - p // todos los párrafos despues de la imágen 
*/

.principal{
    padding: 2em 1em 1em 1em;
    background: var(--main-color);
    margin: 0 auto;  /* Centramos caja */
}


.titulo-secundario, .titulo-principal{
    font-weight: bold;
    text-align: center;
    margin: 0 0 1em;
    word-break: break-word; /*rompe para que no influya en el responsive*/
}

.titulo-principal{
    font-size: 26px;
    clear: left;   /* para que no influya el float en los títulos */
}

.titulo-secundario{
    font-size: 22px;
}
section p{
    margin: 0 0 1em;
}

section li, section p{
    font-size: 16px;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 30%;
    float: left;  /* para que el texto rodee a la imágen */
    margin: 0 10px 10px 0 ;
}

.mapa{
    padding: 1em 1em;
    background: linear-gradient( var(--main-color),var(--secondary-color));
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    margin: 0 auto;
}

.diferenciales{
    padding: 1em 1em 2em 1em;
    background: linear-gradient(var(--secondary-color), #5f5f5f);
}

.contenido-diferenciales{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items:first-child{
    font-weight: bold;  /* uso de pseudoclase first-child (modifica solo el primer elemento) */
}

.lista-diferenciales{
    margin-bottom: 1em;
}

.items{
    line-height: 2; /* ayuda a separar */
}

.items::before{
    content: "‒"
}

.imagen-diferenciales{
    width: 100%;
    transition: 400ms; 
    box-shadow: 1px 1px 15px 5px #FFFFFF;  
    max-width: fit-content;
    margin: 18px;
}

.imagen-diferenciales:hover{
    opacity: 0.3;
}

.video{
    margin: 3em auto 0;
}


@media screen and (min-width:768px){

    .banner img{
        height: 300px;
    }

    .utensilios{
        width: 40%;
        margin: 0 10px 0 0 ;        
        max-width: 168px;
    }

    .contenido-diferenciales{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
    }
}
@media screen and (min-width:1024px){
    .banner img{
        height: 500px;
    }

    section{
        display: flex;
        justify-content: center;
    }

    .content-center-80{
        width: 80%;
    }

    .titulo-principal{
        font-size: 45px;
    }

    .titulo-secundario{
        font-size: 35px;
    }

    section p, section li{
        font-size: 26px;
    }

    .contenido-diferenciales{
        flex-wrap: nowrap;
    }
}