.cards{
    display: flex;
    flex-direction: column;
    padding: 5% 10% ;    
}

.cards li{    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2% 0;  /* Margen externo */
    padding: 30px 20px; /* Margen interno */
    box-sizing: border-box;  /* Tamaño de la caja, con border box para no sobrepasar */    
    border: 2px solid black;
    border-radius: 10px;

    /*
    border-top-right-radius: 25px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 10px;   /* Redondea esquina izq arriba */
     
}

.cards li:hover{    
    box-shadow: 1px 1px 10px 1px black;
}

.cards li:active{
    border-color: #888888;
}

.cards h2{
    font-size: 22px;
    font-weight: bold;
    word-break: break-word;
    text-decoration: underline;
}

.cards li:hover h2{
    font-size: 26px;
}
 
.img-cards img{
    width: 100%;
    max-width: 250px;
}

.producto-descripcion{
    font-size: 16px;
    
}

.producto-precio{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;  /* Separamos precio de la descipcion */
}


@media screen and (min-width:768px){
    
    .cards{        
        flex-direction: initial;    
        padding: 4%;            
    }
        
    .cards li{
        display: flex;
        text-align: center;
        width: 30%;  /* Centrado */
        margin: 0 2%;  /* Margen externo */   
        justify-content: end;               
    }
    
    .cards h2{
        margin: auto;
    }

    .img-cards{       
        display: flex;
        justify-content: center;
    }

    .img-cards img{
        width: 100%;        
    }

}

@media screen and (min-width:1024px){
       
    .cards{
        width: 940px;   /* Ancho definido */
        margin: 0 auto;
    }

    .cards li{
        display: flex;            
    }

    .cards h2{
        font-size: 30px;        
    }

    .cards li:hover h2{
        font-size: 32px;
    }
    
    .img-cards img{
        width: 100%;
        max-width:max-content;
    }

    .producto-descripcion{
        font-size: 16px;
        
    }

    .producto-precio{
        font-size: 18px;
        font-weight: bold;
        margin-top: auto;  /* Separamos precio de la descipcion */
    }

    .producto-precio{
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;  /* Separamos precio de la descipcion */
    }
    
}
