@import 'reset.css';

body{
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header{   
    position: sticky;
    top: 0; /*Para que funcione sticky*/ 
}

.estructura-header{
    width: auto;     /* 940px PARA PC */
    height: 80px;
    position: relative;  /* Relativa a la posición absoluta*/
    display: flex;
    align-items: center; /*align = vertical, justify = horizontal TODO: para pc*/
    justify-content: space-between;
    z-index: 2;
    background-color: #BBBBBB;
    padding: 0 20px;
}

.logo-header img{
    height: 50px;   /* Redefiní la altura de la imágen de logo */
}

.menu-icon{
    font-size: 30px;
    cursor: pointer;
}

.nav-header{
    width: 100%;
    position: absolute;
    z-index: 1; 
    transition: all .5s;
    background: linear-gradient(#AFAFAF, #888888);
    border-radius: 0 0 15px 15px;
    padding: 10px 0;
}

.hidden{
    transform: translateY(-100%);
    visibility: hidden;
}

.nav-header li{
    width: 100%;
    margin-top: 8px;
    border-bottom: 1px solid #888888;
}

.nav-header li:last-child{
    border: none;  /*Saco último subrayado*/
}

.nav-header a{
    text-transform: uppercase; /* Convierte texto en mayúsculas */
    color: black;
    font-weight: bold; /* Texto negrita */
    font-size: 22px; /* Tamaño de la letra */
    text-decoration: none; /* Saco subrayado */
}

.nav-header a:hover{  /* hover captura el movimiento del mouse */
    color:#c78c19;
    text-decoration: underline; /* Vuelvo a poner subrayado */
}


/*FOOTER*/

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
    margin: 0 auto;
}


footer img{
    height: 150px;   /* Redefiní la altura de la imágen de logo */
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}


@media screen and (min-width:800x){
    
}
