/* CSS header */

.header{
    grid-area: header;
    background-color: #BBBBBB;
    padding: 20px 0;
}

.estructura-header{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template: 
    "logo" "nav";
    justify-content: center;
    align-content: center;
    /*width: 940px;     /*CAMBIAR PARA CELULAR */
    position: relative;  /* Relativa a la posición absoluta 
    margin: 0 auto; /* 0 en ancho alto y auto en izq-derecha // centrado de un div */
}


.logo-header img{
    height: 150px;   /* Redefiní la altura de la imágen de logo */
}

.nav-header{
    grid-area: nav;
    position: absolute;
    top: 80px;
    right: 0;
}

.nav-header ul{
    display: flex;
    justify-content: space-around;
}

.nav-header li{
    display: inline;
}

.nav-header a{
    text-transform: uppercase; /* Convierte texto en mayúsculas */
    color: black;
    font-weight: bold; /* Texto negrita */
    font-size: 22px; /* Tamaño de la letra */
    text-decoration: none; /* Saco subrayado */
}

.nav-header a:hover{  /* hover captura el movimiento del mouse */
    color:#c78c19;
    text-decoration: underline; /* Vuelvo a poner subrayado */
}



                                                                                    /* CSS footer */

footer{
    grid-area: footer;
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}


footer img{
    height: 150px;   /* Redefiní la altura de la imágen de logo */
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}



                                                                                /* CSS para nuestra home */

.main{
    grid-area: main;
}

.banner img{
    width: 100%;
}

/*  elemento > hijo
    img + p // seleccioname el primer párrafo después de la imágen
    img - p // todos los párrafos despues de la imágen 
*/

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;       /* Caja */
    margin: 0 auto;  /* Centramos caja */
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;   /* para que no influya el float en los títulos */
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;  /* para que el texto rodee a la imágen */
    margin: 0 20px 20px 0 ;
}

.mapa{
    padding: 1em 0;
    background: linear-gradient(#FEFEFE,#888888);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px; /* Caja */
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background: linear-gradient(#888888, #5f5f5f);
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.items:first-child{
    font-weight: bold;  /* uso de pseudoclase first-child (modifica solo el primer elemento) */
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 2; /* ayuda a separar */
}

.items::before{
    content: "★"
}

.imagen-diferenciales{
    width: 60%;
    transition: 400ms; 
    box-shadow: 10px 10px 10px 5px #000000;   
}

.imagen-diferenciales:hover{
    opacity: 0.3;
    
}

.video{
    width: 560px;
    margin: 3em auto 0;
}



                                                                                    /* CSS para productos */

.productos{
    width: 940px;   /* Ancho total */
    margin: 0 auto;
    padding: 50px; /* Espacio desde la caja */
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;  /* Centrado */
    vertical-align: top;
    margin: 0 1.5%;  /* Margen externo */
    padding: 30px 20px; /* Margen interno */
    box-sizing: border-box;  /* Tamaño de la caja, con border box para no sobrepasar */
    border-color: black;
    border-width: 2px;
    border-style: solid;
    /* border: 2px solid black; */

    /*
    border-top-right-radius: 25px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 10px;   /* Redondea esquina izq arriba */
    
    border-radius: 10px;
}

.productos li:hover{
    border-color: #c78c19;    
}

.productos li:active{
    border-color: #088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;  /* Separamos precio de la descipcion */
}



                                                                                        /* CSS contacto */

form{
    margin: 40px 0;
    width: 100%;
    background-color: #088c19;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    background-color: #5f5f5f;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all; /* cambia tiempo transicion */
    cursor: pointer; /* cambia cursor */
    align-content: center;
}

.enviar:hover{
    background: darkgoldenrod;
    transform: scale(1.2); /* agranda */
    
}

table{
    margin: 40px auto;
    
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}



                                                                                /* Responsive
marcar un elemento para que se presente de otra manera a través de una condición
*/

/*Le puse 940px porque había definido así todas las cajas y de esta manera queda full responsive*/
/*max-width cuando es menor al valor se aplica*/

@media screen and (max-width:480px){    
   

    .principal, .mapa-contenido, .contenido-diferenciales, .video, .productos{
        width: auto;
    }

    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }

    .productos li{
        width: auto;
        margin: 0 0 1.5% ;
    }

}