header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;  /* Relativa a la posición absoluta */
    margin: 0 auto; /* 0 en ancho alto y auto en izq-derecha // centrado de un div */
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase; /* Convierte texto en mayúsuclas */
    color: black;
    font-weight: bold; /* Texto negrita */
    font-size: 22px; /* Altura */
    text-decoration: none; /* Saco subrayado */
}

nav a:hover{  /* hover captura el movimiento del mouse */
    color:#c78c19;
    text-decoration: underline; /* Vuelvo a poner subrayado */
}

.productos{
    width: 940px;   /* Ancho total */
    margin: 0 auto;
    padding: 50px; /* Espacio desde la caja */
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;  /* Centrado */
    vertical-align: top;
    margin: 0 1.5%;  /* Margen externo */
    padding: 30px 20px; /* Margen interno */
    box-sizing: border-box;  /* Tamaño de la caja, con border box para no sobrepasar */
    border-color: black;
    border-width: 2px;
    border-style: solid;
    /* border: 2px solid black; */

    /*
    border-top-right-radius: 25px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 10px;   /* Redondea esquina izq arriba */
    
    border-radius: 10px;
}

.productos li:hover{
    border-color: #c78c19;    
}

.productos li:active{
    border-color: #088c19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;  /* Separamos precio de la descipcion */
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

main{
    width: 940px;       /* Caja */
    margin: 0 auto;  /* Centramos caja */
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all; /* cambia tiempo transicion */
    cursor: pointer; /* cambia cursor */
}

.enviar:hover{
    background: darkgoldenrod;
    transform: scale(1.2); /* agranda */
    
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}
